:root {
  --background-color: rgb(123, 0, 17);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100%;
  background: var(--background-color);
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 20px;
  box-shadow: 0 5px 5px rgba(50, 167, 145, 0.25);
}

.header #trybewarts-header-title {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: white;
}

.header .trybewarts-header-logo {
  width: 80px;
}

.header .trybewarts-login {
  display: flex;
}

.header .trybewarts-login input {
  border: 0;
  border-radius: 5px;
  margin: 0 2px;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: url('/images/hogwarts.jpg');
  background-size: 120% 120%;
  animation: animateImage 35s ease 0s infinite alternate forwards;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.25);
  padding: 15px;
  border-radius: 25px;
  background: rgba(225, 225, 225, 0.5);
}

#evaluation-form div input , #evaluation-form div textarea {
  border: 0.5px solid rgb(120, 120, 120);
  border-radius: 5px;
  margin: 5px;
}

#evaluation-form #input-name , #evaluation-form #input-lastname {
  width: 100%;
}

#evaluation-form #input-email {
  width: 100%;
}

#house {
  width: 100%;
}

.border-bottom-div {
  border-bottom: 2px rgba(225, 225, 225, 0.5) solid;
}

#evaluation-form div {
  display: flex;
  padding: 0 5px;
}

#container-family-studies {
  display: flex;
}

#evaluation-form #family {
  display: flex;
  flex-direction: column;
  background: none;
}

#evaluation-form #studies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background: none;
}

#evaluation-form .container-textarea {
  flex-direction: column;
}

#label-content {
  grid-column: span 3;
}

#evaluation-form input:placeholder-shown {
  padding: 5px;
}

#trybewarts-forms-logo {
  height: 500px;
}

footer {
  width: 100%;
  text-align: center;
}

@keyframes animateImage {

  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
